* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(84, 62, 21), gray, black);
}

header img {
    width: 125px;
    height: 115px;
}

header {
    width: 100vw;
    height:100px;
    background-color: rgb(56, 55, 55);
    display: flex;
    position: fixed;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: center;
    width: 90%;
}

nav ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style-type: none;
}


nav a {
    text-decoration: none;
    color: rgb(255, 157, 0);
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgb(7, 5, 0);
    
}

nav a:hover {
    text-decoration: underline;
}

/* BURGERMENU*****************************************************/
.burger-icon, .menu-checkbox {
    width: 75px;
    height: 75px;
    display: none;
    position: absolute;
    right: 15px;
    top: 17px;
}

.menu-checkbox {
    opacity: 0;
}

.burger-nav {
    width: 100vw;
    /* background-color:rgb(56, 55, 55); */
    list-style: none;
    display: none;
    position: absolute;
    top:100px;
    left: 130px;
}

.burger-nav li {
    list-style: none;
}

.burger-nav a {
    text-decoration: none;
    color: #e54e0d;
    font-weight: 600;
    text-shadow: 1px 1px 3px black;
}

.burger-nav input {
    border: 2px solid rgb(249, 82, 44);
    border-radius: 5px;
    box-shadow: 1px 1px 3px orange ;
}

header button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    background-color: #e54e0d;
    color: whitesmoke;
    border: 2px solid rgb(249, 82, 44);
    border-radius: 5px;
    padding: 0 1rem;
    box-shadow: 1px 1px 3px orange ;
}

/* MUSICSEITE*****************************************/

.musicseite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    
}

.parcity {
    padding: 10px;
}

.deadhorse {
    padding: 10px;
}
